<section id="about" class="about">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Tiles Reglazing</h2>
            <p>Restore your bathroom tiles or restore kitchen backsplash tiles in a matter of hours</p>
        </div>

        <div class="row">
            <div class="col-lg-6" data-aos="fade-right">
                <img src="../../../../assets/mars/beforeafter1tiles.jpg" class="img-fluid" alt="">
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0 content text-justify" data-aos="fade-left">
                <h3>Tile Refinishing is always the wiser choice.</h3>
                <ul>
                    <li><i class="bi bi-check-circle"></i>Our highly trained technicians will repair the damaged tiles,
                        will clean the surface with strong
                        acids and will apply, firstly, a polymer primer which will act as a bonding agent and secondly
                        will
                        spray the tiles with a polyurethane coating that is specifically engineered to create a hard and
                        durable shell over your tiles and grout.</li>
                    <li><i class="bi bi-check-circle"></i> One of the biggest advantages when it comes to tile refinishing,
                        also known as tile re-glazing or tile resurfacing is that you will not have to worry about mold or
                        mildew in your grout anymore because it will be completely sealed. The tiles could be painted or
                        resurfaced previously, in whose case, most likely, we will have to strip all that paint off to guarantee
                        a proper adhesion and consequently a durable result.</li>
                </ul>
                <p>
                  Our process is way much better than that of most of our competitors since we do not use paints or improvised
                  products to re-glaze the tiles. We prefer to use the most advanced products available, polymers that have been
                  especially engineered for this procedure. They bond at molecular level for more resistance and hardness.
                </p>
            </div>
        </div>

    </div>
</section>
