<section id="about" class="about">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Tiles Reglazing</h2>
            <p>Restore your bathroom tiles or restore kitchen backsplash tiles in a matter of hours</p>
        </div>

        <div class="row">
            <div class="col-lg-6" data-aos="fade-right">
                <img src="../../../../assets/mars/beforeafter1tiles.jpg" class="img-fluid" alt="">
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0 content text-justify" data-aos="fade-left">
                <h3>Tile Refinishing is always the wiser choice.</h3>
                <ul>
                    <li><i class="bi bi-check-circle"></i>0ur highly trained technicians will repair the damaged tiles,
                        will clean the surface with strong
                        acids and will apply, firstly, a polymer primer which will act as a bonding agent and secondly
                        will
                        spray the tiles with a polyurethane coating that is specifically engineered to create a hard and
                        durable shell over your tiles and grout.</li>
                    <li><i class="bi bi-check-circle"></i> Duis aute irure dolor in reprehenderit in voluptate velit.
                    </li>
                    <li><i class="bi bi-check-circle"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
                        aute irure dolor in reprehenderit in voluptate trideta storacalaperda mastiro dolore eu fugiat
                        nulla pariatur.</li>
                </ul>
                <p>
                    Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                    voluptate
                    velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                    sunt in
                    culpa qui officia deserunt mollit anim id est laborum
                </p>
            </div>
        </div>

    </div>
</section>