<div class="container-fluid">
  <div class="row no-gutters background-skip">
    <div id="carouselExampleDark" class="carousel carousel-dark slide no-gutters" data-bs-ride="carousel">
      <ol class="carousel-indicators">
        <li data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"></li>
        <li data-bs-target="#carouselExampleDark" data-bs-slide-to="1"></li>
        <li data-bs-target="#carouselExampleDark" data-bs-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="10000">
          <img src="../../../assets/img/bathtube1.jpg" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5>First slide label</h5>
            <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
          </div>
        </div>
        <div class="carousel-item" data-bs-interval="2000">
          <img src="../../../assets/img/slider6.jpg" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5>Second slide label</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="../../../assets/img/slider8.jpg" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5>Third slide label</h5>
            <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
          </div>
        </div>


      </div>

      <a class="carousel-control-prev" href="#carouselExampleDark" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleDark" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </a>
    </div>
  </div>

  <div class="row no-gutters card-row">
    <div class="col-sm-3">
      <div class="card text-center">
        <div class="card-body">
          <img src="../../../../assets/mars/tube-icon.png" alt="" width="160" height="100" class="img-border">
          <h5 class="card-title">Bathtube Refinishing</h5>
          <p class="card-text">We make your bathtub look amazing again.</p>
          <a href="#" class="btn btn-card-custom" routerLink="bathtube-refinishing">Get more info</a>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card text-center">
        <div class="card-body">
          <img src="../../../../assets/mars/tiles-icon.png" alt="" width="160" height="100" class="img-border">
          <h5 class="card-title">Reglaze tiles/top</h5>
          <p class="card-text">Your tiles as new as the day you installed them.</p>
          <a href="#" class="btn btn-card-custom" routerLink="tiles-reglazing">Get more info</a>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card text-center">
        <div class="card-body">
          <img src="../../../../assets/mars/top-icon.png" alt="" width="160" height="100" class="img-border">
          <h5 class="card-title">Refinishing countertops/cabinets</h5>
          <p class="card-text">Make you kitchen look awesome for the lowest price.</p>
          <a href="#" class="btn btn-card-custom" routerLink="countertops">Get more info</a>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card text-center">
        <div class="card-body">
          <img src="../../../../assets/mars/vanity-icon.png" alt="" width="160" height="100" class="img-border">
          <h5 class="card-title">Refinish vanity</h5>
          <p class="card-text">Don't replace your vanity, we reglaze it for you.</p>
          <a href="#" class="btn btn-card-custom" routerLink="vanity-reglazing">Get more info</a>
        </div>
      </div>
    </div>
  </div>

  <div class="row no-gutters background-skip">
    <div class="col-md-6 side-pic">
      <div class="flex-side">
        <div class="side-title">
          <p class="display-2">Bathtube Refinishing</p>
        </div>
        <div class="side-content">
          <p>We make your bathtub look amazing again.</p>
        </div>
        <a href="#" class="btn btn-card-custom" routerLink="bathtube-refinishing">Get more info</a>
      </div>
    </div>
    <div class="col-md-6 side-pic">
      <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="../../../assets/img/tube1.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../../../assets/img/tube2.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../../../assets/img/tube3.jpg" class="d-block w-100" alt="...">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row no-gutters">
    <div class="col-md-6 side-pic">
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="../../../assets/img/tiles1.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="../../../assets/img/tiles2.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="../../../assets/img/tiles3.jpg" class="d-block w-100" alt="...">
            </div>
          </div>
        </div>
    </div>
    <div class="col-md-6 side-pic">
      <div class="flex-side">
        <div class="side-title">
          <p class="display-2">Tiles reglazing</p>
        </div>
        <div class="side-content">
          <p>Your tiles as new as the day you installed them.</p>
        </div>
        <a href="#" class="btn btn-card-custom" routerLink="tiles-reglazing">Get more info</a>
      </div>
    </div>
  </div>

  <div class="row no-gutters background-skip">
    <div class="col-md-6 side-pic">
      <div class="flex-side">
        <div class="side-title">
          <p class="display-2">Refinish countertops</p>
        </div>
        <div class="side-content">
          <p>Make you kitchen look awesome for the lowest price</p>
        </div>
        <a href="#" class="btn btn-card-custom" routerLink="tiles-reglazing" routerLink="countertops">Get more info</a>
      </div>
    </div>
    <div class="col-md-6 side-pic">
      <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="../../../assets/img/top1.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../../../assets/img/top2.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../../../assets/img/top3.jpg" class="d-block w-100" alt="...">
          </div>
        </div>
      </div>
  </div>
  </div>

  <div class="row no-gutters">
    <div class="col-md-6 side-pic">
      <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="../../../assets/img/vanity1.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../../../assets/img/vanity2.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../../../assets/img/vanity3.jpg" class="d-block w-100" alt="...">
          </div>
        </div>
      </div>

    </div>
    <div class="col-md-6 side-pic">
      <div class="flex-side">
        <div class="side-title">
          <p class="display-2">Refinishing vanity</p>
        </div>
        <div class="side-content">
          <p>Don't replace your vanity, we reglaze it for you.</p>
        </div>
        <a href="#" class="btn btn-card-custom" routerLink="tiles-reglazing">Get more info</a>
      </div>
    </div>
  </div>

  <div class="row no-gutters justify-content-md-center contact-row">
    <div class="col-md-auto">
      <div class="row g-3 text-center">

          <p class="display-4">Contact us</p>

      </div>
      <form class="row g-3">
        <div class="col-md-6">
          <label for="inputEmail4" class="form-label">Email</label>
          <input type="email" class="form-control" id="inputEmail4" placeholder="marsito@mars.com">
        </div>
        <div class="col-md-6">
          <label for="inputPassword4" class="form-label">Name</label>
          <input type="text" class="form-control" id="inputPassword4" placeholder="marianito">
        </div>
        <div class="col-12">
          <label for="inputAddress" class="form-label">How can we help you?</label>
          <textarea type="text" class="form-control" id="inputAddress" placeholder="tell us about your needs" cols="30" rows="5"></textarea>

        </div>

        <div class="col-12">
          <button type="submit" class="btn btn-card-custom">Submit</button>
        </div>

      </form>
    </div>
  </div>




</div>
