<section id="about" class="about">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Bathtube Reglazing</h2>
            <p>Over the years, as bathrooms and kitchens age, besides their normal tear and wear they usually show rust,
              chips, cracks and even holes.</p>
        </div>

        <div class="row">
            <div class="col-lg-6" data-aos="fade-right">
                <img src="assets/img/about.jpg" class="img-fluid" alt="">
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0 content text-justify" data-aos="fade-left">
                <h3 class="text-center">Why is bathtub reglazing a better and wiser choice?</h3>
                <p>
                  As part of the refurbishing services that we offer, our expert technicians can professionally
                  repair any of those bathroom and kitchen damages. They can even remove old liners previously
                  installed on top of the original bathtub or stalls.
                </p>
                <ul>
                    <li><i class="bi bi-check-circle"></i> Regardless of how bad your bathtub
                      look or how deteriorated they are our expert technicians can make them look as shiny and beautiful
                      as in their best days again without having to go through all the hassles of replacement.</li>
                    <li><i class="bi bi-check-circle"></i> If you are thinking about replacing your bathtub think twice.
                      Our spot repair and refinishing options are not only significantly
                      economical but considerably durable as well.
                    </li>

                </ul>

            </div>
        </div>

    </div>
</section>
