<section id="about" class="about">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Vanity Reglazing</h2>
            <p>Vanities are one of the most often used fixtures in bathrooms  and consequently they frequently age
              faster than bathtubs. It is very common to see rust, chips, stains and cracks among other problems.</p>
        </div>

        <div class="row">
            <div class="col-lg-6" data-aos="fade-right">
                <img src="assets/img/about.jpg" class="img-fluid" alt="">
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0 content text-justify" data-aos="fade-left">
                <h3 class="text-center">Don't replace your vanity, we reglaze it for you.</h3>
                <p>
                  Many people get frustrated as they tend to believe that they have no option but to suffer through the
                  pain and expense of replacing the vanity. sink
                </p>
                <ul>
                    <li><i class="bi bi-check-circle"></i> WE, the vanity refinishing Miami/ vanity
                      resurfacing Miami local expert offers you a much more cost effect effective and wiser choice.
                      In a matter of just hours, our experienced technicians will repair any of those damages and will
                      resurface your vanity in Miami and Broward which will result in a dramatic difference in the visual
                      appearance of your vanity.</li>
                    <li><i class="bi bi-check-circle"></i> We can resurface your vanity in any color you want and give it
                      a higher-end look while saving you a lot of money over the cost of replacement, preventing you from
                      going through several plumbing and other kind of hassles as well as extending your vanity life.
                    </li>
                    <li><i class="bi bi-check-circle"></i> Join our large list of satisfied customers today. When it comes
                      to sink refinishing Miami/ sink resurfacing Miami, Bathtub refinishing and countertop refinishing in Miami
                      or Broward we are the local experts.</li>
                </ul>
            </div>
        </div>

    </div>
</section>
